
<% @links.each do |link| %>
  <div class="row clearfix item-row">
    <div class="col-md-9">
      <h3 class='link'>
        <%= link_to link.title, link %>
        <br/>
        <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></small>
      </h3>
      <div class="btn-group">
        <a href="<%= link.url %>" class="btn btn-default btn-sm" target="_blank">Visit Link</a>
      </div>
    </div>
  </div>
<% end %>
